node_modules
.vscode
.vscode-test/
out/test/
test/
src/
*.vsix
.gitignore
.yarnrc*
webpack.config.js
vscode.proposed.d.ts
tsconfig.json
tsup.config.ts
eslint.config.js
pnpm-lock.yaml
pnpm-workspace.yaml
